<div class="bg-body-tertiary p-4 rounded">
    <div class="col-sm-8 py-4 mx-auto">
        <h1 class="display-5 fw-medium">Local Farmers Store</h1>
        <p class="fs-5">Онлайн магазин фермерских продуктов</p>
        <p>онлайн-магазин свежих фермерских продуктов. Мы предлагаем натуральные и качественные товары прямо с фермы:
            свежие овощи, мясо, молоко, мед и многое другое. Поддержите местных производителей и наслаждайтесь настоящим
            вкусом природы, не выходя из дома.</p>
    </div>
</div>