{% load my_tags %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'catalog:index' %}">Local Farmers Store</a>
        {% if user.is_authenticated %}
        <p class="text-secondary"><small>вы вошли как:  </small><span class="badge text-bg-secondary">{{ user }}</span></p>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
                aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2"
             aria-labelledby="offcanvasNavbar2Label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'catalog:index' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'catalog:products' %}">Продукты</a>
                    </li>
                    {% if not request.user|has_group:"moderator" %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'blog:index' %}">Блог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'catalog:contacts' %}">Контакты</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    {% if not request.user|has_group:"moderator" and not request.user|has_group:"blog_content_manager" %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'catalog:add_product' %}">Добавить продукт</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'user:logout' %}">Выйти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'user:profile' %}">Профиль</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'user:login' %}">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'user:register' %}">Регистрация</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
