{% extends "catalog/base.html" %}
{% load my_tags %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
<main>
    {% include 'catalog/includes/navbar_include.html' %}
    <div class="container my-2">
        {% include 'catalog/includes/header_product.html' %}
        {% if object.user == user or request.user|has_group:"moderator" %}
        <div class="btn-group btn-group-sm mt-2" role="group" aria-label="Basic mixed styles example">
            {% if not request.user|has_group:"moderator" %}
            <a href="{% url 'catalog:delete_product' object.pk %}" type="button" class="btn btn-danger">Удалить</a>
            {% endif %}
            <a href="{% url 'catalog:update_product' object.pk %}" type="button" class="btn btn-secondary">Редактировать</a>
        </div>
        {% endif %}
        <div class="my-2">
            <div class="card mb-3" style="max-width: 100em;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% mymedia object.image %}" class="img-fluid rounded-start"
                             alt="image for {{ product.name }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <span class="badge text-bg-secondary">{{ object.category.name }}</span>
                            <h3 class="card-title my-2">{{ object.name }}</h3>
                            <h1 class="card-title my-4">{{ object.price }} руб.</h1>
                            <div><strong>Пользователь:</strong> {{ object.user }}</div>
                            <div><strong>Описание:</strong> {{ object.description }}</div>
                            <p class="card-text">
                                <small class="text-body-secondary">добавлен: {{ object.created_at }}</small>
                            </p>
                            <button type="button" class="btn btn-outline-primary" disabled>Купить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}