{% extends "catalog/base.html" %}
{% block title %}Add Product{% endblock %}
{% block content %}
<main>
    {% include 'catalog/includes/navbar_include.html' %}
    <div class="container my-2">
        {% if warning_text %}
        <div class="col-md-12">
            <div class="alert alert-warning" role="alert">
                {% for text in warning_text %}
                <p><b>{{ text.0 }}:</b> {{ text.1 }}</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="bg-body-tertiary p-4 rounded">
            <div class="container my-3 col-8">
                <form class="row g-3" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary w-100 mt-4 mb-2">Добавить</button>
                    </div>
                </form>
                {% if object %}
                <div class="col-12">
                    <a class="btn btn-secondary w-100" href="{% url 'catalog:product' object.pk %}">Отмена</a>
                </div>
                {% else %}
                <div class="col-12">
                    <a class="btn btn-secondary w-100" href="{% url 'catalog:index' %}">Отмена</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}