{% extends "catalog/base.html" %}
{% block title %}Add Product{% endblock %}
{% block content %}
<main>
    {% include 'catalog/includes/navbar_include.html' %}
    <div class="container my-2">
        {% if warning_text %}
        <div class="col-md-12">
            <div class="alert alert-warning" role="alert">
                {% for text in warning_text %}
                <p><b>{{ text.0 }}:</b> {{ text.1 }}</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="bg-body-tertiary p-4 rounded">
            <div class="container my-3 col-8">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="container row">
                        <div class="col-6">
                            <h5 class="mb-3">Продукт</h5>
                            {{ form.as_p }}
                            <div class="row">
                                {% if object %}
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary mt-4 mb-2 w-100">Сохранить</button>
                                </div>
                                <div class="col-6">
                                    <a class="btn btn-secondary mt-4 mb-2 w-100"
                                       href="{% url 'catalog:product' object.pk %}">Отмена</a>
                                </div>
                                {% else %}
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary mt-4 mb-2 w-100">Добавить</button>
                                </div>
                                <div class="col-6">
                                    <a class="btn btn-secondary mt-4 mb-2 w-100"
                                       href="{% url 'catalog:index' %}">Отмена</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-6 p-2  rounded">
                            <h5 class="mb-3">Версии продукта</h5>
                            {{ formset.management_form }}
                            {% for form in formset.forms %}
                            <div class="card m-2 p-2 rounded border bg-body-secondary">
                                {{ form.as_p }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}