{% extends "catalog/base.html" %}
{% load my_tags %}
{% block title %}Products{% endblock %}
{% block content %}
<main>
    {% include 'catalog/includes/navbar_include.html' %}
    <div class="container my-2">
        {% include 'catalog/includes/header_products.html' %}
        <div class="m-4 text-center">
            <nav aria-label="Category navigation">
                <ul class="pagination pagination-sm justify-content-center">
                    {% if category %}
                    <li class="page-item"><a class="page-link" href="{% url 'catalog:products' %}">Все продукты</a></li>
                    {% for item in categories %}
                    {% if item.id == category.id %}
                    <li class="page-item active"><a class="page-link"
                                                    href="{% url 'catalog:products' %}?category_id={{ item.id }}">{{ item.name }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link"
                                             href="{% url 'catalog:products' %}?category_id={{ item.id }}">{{ item.name }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <li class="page-item active"><a class="page-link" href="{% url 'catalog:products' %}">Все
                        продукты</a></li>
                    {% for item in categories %}
                    <li class="page-item"><a class="page-link"
                                             href="{% url 'catalog:products' %}?category_id={{ item.id }}">{{ item.name }}</a></li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="row m-4 sm justify-content-center">
            {% for item in object_list %}
            {% if item.product.is_published or perms.is_superuser or request.user|has_group:"moderator" or request.user == item.product.user %}
            <div class="p-2 rounded col-4">
                <div class="card m-4">
                    {% if perms.is_superuser or request.user|has_group:"moderator" or request.user == item.product.user %}
                    {% if not item.product.is_published %}
                    <div class="card-header card-header-sm text-bg-danger">
                        Неопубликовано!
                    </div>
                    {% endif %}
                    {% endif %}
                    <img src="{% mymedia item.product.image %}" class="card-img-top" alt="no_image">
                    <div class="card-body">
                        <h5>{{ item.product.name }}</h5>
                        <h1>{{ item.product.price }} руб.</h1>
                        <p class="card-text text-secondary"><small>пользователь: {{ item.product.user }}</small></p>
                        <p class="card-text">{{ item.product.description|slice:99 }}...</p>
                        <a href="{% url 'catalog:product' item.product.id %}" type="button"
                           class="btn btn-primary">Открыть</a>
                    </div>
                    {% if item.version %}
                    <div class="card-footer">
                        <p class="card-text text-tertiary"><small>{{ item.version }}</small></p>
                    </div>
                    {% else %}
                    <div class="card-footer">
                        <p class="card-text text-secondary"><small>Не имеет текущей версии</small></p>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
